
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
   font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

header,
main,
footer {
  padding: 20px ;
  max-width: 960px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

main h1 {
  text-align: center;
}
main section {
  margin-bottom: 24px;
}

main section:first-of-type {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #1F1F1F;
  line-height: 1.3;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
    font-size: 16px;
}

header {
  background-color: #ffeee2;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

header nav a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.logo{
 width:50px;
 height:50px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


#hero {
  background-color: #fff6fc;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#about-hero,
#project-nav {
  margin: 10px 0 20px;
}

#project-main {
  margin-bottom: 24px;
}

#project-preview {
  margin-bottom: 24px;
}

#project-preview p {
  margin-top: 16px;
}


#contact {
  margin-top: 30px;
  padding: 20px 0;
  background-color: #f7f7f7;
  text-align: center;
}

a {
  color: #3514ec;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #9b2900;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}


.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.2s opacity;
  border-bottom: 2px solid #f5f5f5;
}

.button:hover,
.button:focus {
  opacity: 0.85;
  text-decoration: none;
}

.button:active {
  opacity: 1;
  border-bottom-color: #ffe4db;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  border: 2px solid #ff7f50;
  margin-bottom: 8px;
  border-bottom-width: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #ff7f50;
  color: #ffffff;
}
